.codeblock {
  position: absolute;
  background-color: black;
  color: #888;
  border-radius: 1rem;
  margin: 0 auto;
  padding: 14px 20px;
  font-size: 0.9em;
  line-height: 1.5em;
  top: 60px;
  white-space: pre-wrap;
  word-wrap: break-word;
  z-index: -1;
}
