.codeblock {
  position: fixed;
  background-color: #bbb;
  border: 2px solid #757575;
  border-radius: 12px;
  margin: 0 auto;
  padding: 14px 20px;
  font-size: 0.9em;
  box-shadow: 0px 0px 15px 0px #666;
  line-height: 1.5em;
  max-width: 40%;
  top: 60px;
  left: 40px;
  white-space: pre-wrap;  
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
